go 1.25.7

use (
	./gateway-audit
	./gateway-export
	./gateway-olt
	./gateway-scheduler
	./gateway-whatsapp
	./map-gateway
	./notification-gateway
	./payment-gateway
	./poller
	./shared
	./storage-gateway
)
